html,body{
    height:100%;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-size: 18px;
    background: #F4F4F4;
}
.content{
    width:1200px;
    margin:30px auto;
}
.content .header{
    height: 50px;
    background: white;
    width:97%;
    line-height: 50px;
    padding-left:20px;
}
.content .header a{
    margin-left:30px;
    color:#555;
    position: relative;
    display: inline-block;

}
.header a:hover{
    color:red
}
.header i{
    width: 0;
    height: 0;
    border:4px solid transparent;
    position: absolute;
    top:50%;
    margin-top:-4px;
    right:-11px;
}
.header i.up{
    border-bottom-color:#666;
    margin-top:-9px;
}
.header i.up.bg{
    border-bottom-color:red;
}
.header i.down{
    border-top-color:#666;
    margin-top:1px;
}
.header i.down.bg{
    border-top-color:red;
}
.content #list{
    margin-top:20px;
    list-style: none;
    overflow: hidden;
}
.content #list li{
    margin: 0 15px 15px  0;
    width:205px;
    height:350px;
    padding:10px;
    background:white;
    float:left;
}
.content #list li img{
    display: block;
    width:100%;
}
.content #list li span{
    display: block;
    font-size: 14px;
    height:35px;
    line-height: 35px;
    color:#555;
}